.home {
  margin-top: 100px;
  .home_head {
    display: flex;
    align-items: center;
    margin-top: 38px;
    justify-content: space-between;
    width: 100%;
    span {
      font-size: 32px;
      font-family: Roboto;
      font-weight: 700;
      color: #000000;
    }
    .texts_act {
      display: flex;
      align-items: center;
      width: 30%;
      input {
        width: 200px;
        outline: none;
        padding: 10px;
        height: 50px;
        font-size: 22px;
        font-family: Roboto;
        font-weight: 400;
        color: #615252;
        border: 1px solid #00000044;
      }
      select {
        width: 25%;
        outline: none;
        padding: 10px;
        height: 50px;
        font-size: 23px;
        font-family: Roboto;
        color: #fff;
        border: 1px solid #00000044;
        background-color: #171467e2;
      }
    }
    .btn {
      display: flex;
      a span {
        padding: 10px 22px;
        font-size: 24px;
        background-color: rgb(7, 91, 17);
        font-family: Roboto;
        font-weight: 700;
        border-radius: 16px;

        color: #fff;
        margin-left: 20px;
      }
    }
  }
  .home_body {
    display: flex;
    flex-direction: column;
    margin-top: 38px;
    margin-bottom: 38px;
    .body_head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 38px;
      height: 80px;
      border-bottom: 1px solid #00000044;

      span {
        font-size: 22px;
        font-family: Roboto;
        font-weight: 700;
        color: #000000;
        width: 20%;
      }
      .id {
        width: 15%;
      }
    }
    .body_data {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      .data_row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 38px;
        height: 80px;
        width: 100%;
        border-bottom: 1px solid #00000044;
        .id {
          width: 15%;
        }
        span {
          font-size: 22px;
          font-family: Roboto;
          font-weight: 700;
          color: #000000;
          width: 20%;
        }
        .btn0 {
          display: flex;
          gap: 6px;

          .btn11,
          .btn22:active {
            transform: scale(0.96);
          }
          .btn11 {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 4px 18px;
            font-size: 16px;
            transition: all 0.3s;
            background-color: rgb(7, 91, 17);
            font-family: Roboto;
            font-weight: 400;
            color: aliceblue;
            border-radius: 16px;
            height: 50px;
            cursor: pointer;
          }
          .btn22 {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            background-color: crimson;
            font-family: Roboto;
            font-weight: 700;
            height: 50px;
            border: 0;
            transition: all 0.3s;
            cursor: pointer;
            padding: 4px 18px;
            color: aliceblue;
            border-radius: 16px;
          }
        }
      }
    }
    .modal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      .modal_content {
        width: 30%;
        height: 500px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        border-radius: 16px;
        background-color: aliceblue;
        h1 {
          font-size: 32px;
          font-family: Roboto;
          font-weight: 700;
          color: rgba(30, 33, 33, 0.788);
          margin-bottom: 20px;
        }
        p {
          font-size: 24px;
          font-family: Roboto;
          font-weight: 700;
          color: #333;
          margin-top: 20px;
          text-align: center;
        }
        .modal_btn {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 20px;
          gap: 6px;
          button {
            border: 0;
          }
          .btn1 {
            padding: 8px 16px;
            font-size: 24px;
            background-color: rgb(7, 91, 17);
            font-family: Roboto;
            font-weight: 700;
            color: aliceblue;
            border-radius: 16px;
          }
          .btn2 {
            padding: 8px 16px;
            font-size: 24px;
            background-color: rgb(83, 94, 84);
            font-family: Roboto;
            font-weight: 700;
            color: aliceblue;
            border-radius: 16px;
          }
        }
      }
    }
  }
}
.home.dark_mode {
  background-color: #333;
  color: #fff;
}
