.header {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: aliceblue;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    .nav_logo {
      display: flex;
      align-items: center;
      span {
        font-size: 38px;
        font-family: Roboto;
        font-weight: 700;
        color: #000000;
      }
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: end;
      width: 100%;

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 7%;
        a {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          font-size: 22px;
          font-family: Roboto;
          font-weight: 400;
          color: #615252;
          transition: all .3s ease-in-out;
        }
        a:active{
            transform: scale(0.96);
           color: crimson;
        }
      }
    }
  }
}
